html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* DEFAULT AND OVERRIDES */

/* GENERIC OVERRIDES */
body,
ul,
h1,
h2,
h3,
h4, 
p,
label {
	margin: 0;
    padding: 0;
}

/* removes the list bullets */
ul {
	list-style: none;
}

/* removes default syling from links and buttons */
a {
	color: inherit;
	text-decoration: none;
}

/* makes images as wide as their container */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
    min-width: 350px; 
}

.pointer {
    cursor: pointer;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
	width: 85%;
	max-width: 1050px;
	margin: 0 auto;
}

header {
	padding-top: 20px; 
	background-color: rgb(40, 102, 121);
	height: 40vh;
	color: white;
}

header div {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

header a {
	font-size: 2.5rem;  
	display: inline-block;  
}  

h1 {
	font-family: 'Carter One', sans-serif;
	font-size: 3rem; 
	letter-spacing: 2px; 
	display: flex;
	flex-direction: column;
}

h1 span {
	font-size: 2rem;
}

main { 
	min-height: 60vh;
	padding-bottom: 50px;
<<<<<<< HEAD
=======
}

.container {  
	box-shadow: 0px 10px 30px 10px rgba(180, 180, 180, 0.25); 
	border-radius: 10px;
	padding: 40px 60px;
	position: relative;   
	top: -120px;
	background-color: white; 
	left: 0;
	right: 0; 
>>>>>>> 202fd0e9a593d50d460632b9cafbaf1873114490
}

.container {  
	box-shadow: 0px 10px 30px 10px rgba(180, 180, 180, 0.25); 
	border-radius: 10px;
	padding: 40px 60px;
	position: relative;   
	top: -120px;
	background-color: white; 
	left: 0;
	right: 0; 
}

<<<<<<< HEAD
.tag {
	font-size: 1.6rem;
	text-align: center;
}

=======
>>>>>>> 202fd0e9a593d50d460632b9cafbaf1873114490
h2 {
	font-size: 2.4rem;
	text-align: center;
	margin: 20px 0;
} 

.container form {
	text-align: center;
	display: flex; 
	justify-content: center;
	align-items: center; 
	flex-wrap: wrap;
}

.click-thru,
input[type="submit"] {
	height: 50px;
	width: 225px;
	margin: 0 10px;
	border-radius: 5px;
	font-weight: 600;
}

/* CLICK THRU */
.click-thru { 
	font-size: 2rem;
	border: 1px solid rgb(241, 241, 241);	
	background-color: rgb(241, 241, 241);	
	position: relative;
	display: flex; 
}

.click-thru span {
	color: rgb(60, 60, 60);
	font-size: 2.2rem;
	margin: auto auto;
}

.arrows {
	position: absolute;
	right:10px;
	top: 0;
	display: flex;
	flex-direction: column;
}
.click-thru i { 
	font-size: 2.5rem;
	transition: all 0.2s;  
}
 
.click-thru i:hover {
	color: rgb(57, 153, 160);
}

input[type="submit"] {
	font-family: 'Open Sans', sans-serif; 
	padding: 0 20px;
	font-size: 1.6rem;
	border: 1.5px solid rgb(230, 94, 90); 
	color: white;
    transition-property: all;
	transition-duration: 0.3s;
	background-color: rgb(230, 94, 90); 
} 

input[type="submit"]:hover {
    color:  white;
	background-color: rgb(255, 127, 123); 
	border: 1.5px solid rgb(255, 127, 123); 
} 
 
.filter-bar {
	display: flex;
	flex-direction: column;
	align-items: flex-end; 
	position: relative; 
	text-align: center; 
}

label {
	font-size: 1.5rem; 
	display: block; 
}

ul label { 
	padding: 10px;
}

input[type="checkbox"],
input[type="radio"] { 
    display: none;
}  

ul { 
	font-size: 1.5rem;   
	background-color: white;
	box-shadow: 0px 10px 20px 3px  rgba(180, 180, 180, 0.25); 
	width: 150px;  
	top: 25px;
	position: absolute;
	display: none; 
	z-index: 30;
} 
 
input[type="checkbox"]:checked + ul{
	display: block;
}  
 
li:hover,
input[type="radio"]:checked + label{
	background-color: rgb(215, 242, 243);
}

.results-section {
	position: relative;
	top: -80px;
}

/* results */
.result-container {
	margin: 20px 0;
	padding-left: 10px;
	font-size: 1.5rem;
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	min-height: 50px;  
}

/* pin icon */
.result-container i {
	font-size: 1.5rem;
}

/* museum name */
h3 { 
	font-size: 2rem;  
	padding-right: 10px;  
	flex-basis: 40%;
	flex-shrink: -2;
} 

.address { 
	flex-basis: 30%;
	flex-shrink: -2;
	padding: 0 10px;
}

.url,
.tel  { 
	flex-basis: 15%;
	flex-shrink: 1;
}

.url {
	text-align: center;
}

.tel {
	text-align: end;
}
 
/* hover effect on links */
a:hover,
a:focus  {
	color: rgb(57, 153, 160);
}

.result-container a {
	color: rgb(57, 153, 160);
} 

.result-container a:hover,
.result-container a:focus {
	text-decoration: underline;
}

.address:hover::after,
.url:hover::after {
	content: url(./assets/open-new-window.png);
} 

/* colour tab */
.art {
	border-left: 4px solid rgb(245, 181, 109);
}

.science {
	border-left: 4px solid rgb(59, 153, 130);
}

.history {
	border-left: 4px solid rgb(123, 205, 211);
}

.cultural {
	border-left: 4px solid rgb(211, 123, 138);
}

.childrens {
	border-left: 4px solid rgb(158, 211, 123);
}

/* scroll to the top */
.scroll-up {  
	display: flex;
	justify-content: flex-end;
	font-size: 1.8rem;
	position: sticky;
	top: 95vh; 
}

/* media queries */
<<<<<<< HEAD
@media (max-width: 960px) { 
	.result-container { 
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.address {
		padding: 0;
	}
}


@media (max-width: 767px) { 

	.click-thru,
	input[type="submit"] {
		margin: 5px 10px;
=======
@media (max-width: 767px) { 

	.click-thru,
	input[type="submit"] {
		margin: 5px 10px;
	}

}


@media (max-width: 480px) { 

	main { 
		padding: 20px; 
	}

	.container {
		padding: 40px;
>>>>>>> 202fd0e9a593d50d460632b9cafbaf1873114490
	}
}


@media (max-width: 480px) { 

<<<<<<< HEAD
	main { 
		padding: 20px; 
	}

	.container {
		padding: 40px;
	}

=======
>>>>>>> 202fd0e9a593d50d460632b9cafbaf1873114490
	.click-thru,
	input[type="submit"] {
		margin: 5px 0;
	}

	h2 {
		font-size: 2rem;
	}

	.filter-bar {
		align-items: center;
	} 
}
