html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
        
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }
        
html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
        
*, *:before, *:after {box-sizing: inherit}
        
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/* DEFAULT AND OVERRIDES */

/* GENERIC OVERRIDES */
body,
ul,
h1,
h2,
h3,
h4, 
p,
label {
	margin: 0;
    padding: 0;
}

/* removes the list bullets */
ul {
	list-style: none;
}

/* removes default syling from links and buttons */
a {
	color: inherit;
	text-decoration: none;
}

/* makes images as wide as their container */
img {
	width: 100%;
	height: auto;
	display: block;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
    min-width: 350px; 
}

.pointer {
    cursor: pointer;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
	width: 85%;
	max-width: 1050px;
	margin: 0 auto;
}

/* FONT SIZING */
input[type="submit"],
.filter-bar,
.result-container {
	font-size: 1.5rem;
}

h2,
h3,
.click-thru {
	font-size: 2rem;
}

h3,
.click-thru,
input[type="submit"], 
.result-container a {
	font-weight: 600; 
} 

h2,
.url,
.container form,
.filter-bar,
footer {
	text-align: center;
}

/* HEADER START */
header {
	padding: 20px;   
	height: 40vh; 
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

header a {
	font-size: 2.5rem;  
	display: inline-block;  
}  

header p {  
	font-size: 2.2rem; 
	line-height: 34px; 
	font-weight: 300; 
}

header span { 
	background-color: white; 
}

header div {
	height: 100%; 

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	background-image: url(./assets/undraw_art_0tat.svg);  
	background-size: calc(35vh);
	background-position: bottom right;
	background-repeat: no-repeat;    
	background-position-y: 20px;
}

h1 {
	font-family: 'Carter One', sans-serif;
	font-size: 2.2rem; 
	letter-spacing: 1.8px; 
	display: flex;
	flex-direction: column;
}

h1 span {
	font-size: 1.8rem;
}

main { 
	min-height: 55vh;
	padding-bottom: 50px;

	background-image: url(./assets/undraw_art_museum_8or4.svg);  
	background-size: calc(35vh);
	background-position: bottom;
	background-repeat: no-repeat;   
}

.container {  
	box-shadow: 0px 10px 30px 10px rgba(180, 180, 180, 0.25); 
	border-radius: 10px;
	padding: 30px;  
	margin-bottom: 50px;
	background-color: white;  
}

.container form {
	margin-top: 15px;  
	display: flex; 
	justify-content: center;
	align-items: center; 
	flex-wrap: wrap;
}

/* CLICK THRU */
.click-thru,
input[type="submit"] {
	height: 50px;
	width: 225px;
	margin: 0 10px;
	border-radius: 5px;
}

.click-thru { 
	border: 1px solid rgb(241, 241, 241);	
	background-color: rgb(241, 241, 241);	
	position: relative;
	display: flex; 
	font-weight: 400;
}

.click-thru span {
	color: rgb(60, 60, 60); 
	margin: auto;
}

.arrows {
	position: absolute;
	right: 10px;
	top: 0;
	display: flex;
	flex-direction: column;
}
.click-thru i { 
	font-size: 2.5rem;
	transition: all 0.2s;  
}

.click-thru i:hover {
	color: rgb(63, 63, 194);
}

input[type="submit"] {
	background-color: rgb(240, 116, 111); 

	font-family: inherit;
	color: white;

	padding: 0 20px;
	border: 1.5px solid rgb(240, 116, 111); 

	transition-property: all;
	transition-duration: 0.3s;
} 

input[type="submit"]:hover {
	background-color: rgb(255, 127, 123);  
	border: 1.5px solid rgb(255, 127, 123); 
} 
 
.filter-bar { 
	display: flex;
	flex-direction: column;
	align-items: flex-end; 
	position: relative; 
	padding-bottom: 20px;
	border-bottom: 0.5px solid grey;
}

input[type="checkbox"],
input[type="radio"] { 
    display: none;
}  

ul {  
	background-color: white;
	box-shadow: 0px 10px 20px 3px  rgba(180, 180, 180, 0.25); 
	width: 150px;  
	top: 25px;
	position: absolute;
	display: none; 
	z-index: 30;
} 

ul label { 
	padding: 10px;
}

ul label,
input[type="checkbox"]:checked + ul{
	display: block;
}  

li:hover,
input[type="radio"]:checked + label{
	background-color: rgb(215, 242, 243);
}

/* results */
section {
 padding-bottom: 150px;
}

.result-container {
	margin: 20px 0;
	padding-left: 10px;
	display: flex; 
	justify-content: space-between; 
	align-items: center;
	min-height: 50px;  
}

/* museum name */
h3 { 
	padding-right: 10px;  
	flex-basis: 40%;
	flex-shrink: -2; 
} 

.address { 
	flex-basis: 30%;
	flex-shrink: -2;
	padding: 0 10px;
}

.url,
.tel  { 
	flex-basis: 15%;
	flex-shrink: 1;
}

.tel {
	text-align: end;
}

.result-container a,
.tel {
	color: rgb(60, 60, 60);
}

/* hover effect on links */
a:hover,
a:focus,
footer a  {
	color: rgb(63, 63, 194);
}

.result-container a:hover,
.result-container a:focus {
	text-decoration: underline;
}

/* colour tab */
.art {
	border-left: 4px solid rgb(245, 181, 109);
}

.science {
	border-left: 4px solid rgb(59, 153, 130);
}

.history {
	border-left: 4px solid rgb(123, 205, 211);
}

.cultural {
	border-left: 4px solid rgb(211, 123, 138);
}

.childrens {
	border-left: 4px solid rgb(158, 211, 123);
}

/* scroll to the top */
.scroll-up {  
	display: flex;
	justify-content: flex-end;
	font-size: 1.8rem;
	position: sticky;
	bottom: 30px;
	margin-right: 50px;
}

footer { 
	font-size: 1.1rem;
	height: 5vh;
	padding: 10px;
} 

/* media queries */
@media (max-width: 960px) { 
	.result-container { 
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.address {
		padding: 0;
	}
}

@media (max-width: 768px) { 

	header p {   
		width: 60vw; 
	}

	.click-thru,
	input[type="submit"] {
		margin: 5px 10px;
	}
}

@media (max-width: 480px) { 

	header p {  
		font-size: 2rem; 
	}

	.container {
		padding: 30px;
	}

	.click-thru,
	input[type="submit"] {
		margin: 5px 0;
	}

	.filter-bar {
		align-items: center;
	} 
}
