html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

/* GENERIC OVERRIDES */
body,
ul,
h1,
h2,
h3,
p,
ol,
button,
label {
  margin: 0;
  padding: 0;
}

/* removes the list bullets */
ul {
  list-style: none;
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px 3px  #b4b4b440;
          box-shadow: 0px 10px 20px 3px  #b4b4b440;
}

/* removes default syling from links and buttons */
a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font-family: inherit;
  border: none;
}

button {
  background-color: none;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* default font size and smooth scrolling - DON'T CHANGE */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
  font-size: 1.6rem;
}

i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="radio"] {
  display: none;
}

/* default wrapper - DON'T CHANGE */
.wrapper {
  width: 90%;
  max-width: 1050px;
  margin: 0 auto;
}

/* FONT SIZING */
h1,
h2,
h3,
.click-thru {
  font-size: 2rem;
}

h2,
h3,
.url,
.click-thru,
button[type="submit"] {
  font-weight: 600;
}

h2,
.url,
.container form,
.filter-bar,
footer {
  text-align: center;
}

/* HEADER START */
header {
  color: white;
  padding: 20px;
  height: 45vh;
  background-image: url(../assets/new-york-city.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

header nav {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  font-size: 2.5rem;
  display: inline-block;
}

h1 {
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 span {
  font-size: 1.6rem;
  font-weight: 600;
}

.header-text {
  font-size: 2.2rem;
  line-height: 38px;
  font-weight: 400;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header-text > div {
  margin: 0 auto;
  min-width: 60%;
}

.header-text p:first-of-type {
  font-weight: 600;
  font-size: 2.8rem;
}

.search-form {
  margin-right: 20px;
}

.search-form input,
.search-form button {
  background-color: transparent;
}

.search-form input {
  color: white;
  border-bottom: 1px solid #c2c2c2;
}

.search-form input:focus {
  border-bottom: 1px solid #ffffff;
}

.search-form input:focus + button {
  color: #ffffff;
}

.search-form button {
  color: #c2c2c2;
  font-size: 2.2rem;
  margin-left: 5px;
}

main {
  min-height: 50vh;
  padding-bottom: 50px;
  position: relative;
}

.container {
  -webkit-box-shadow: 0px 10px 30px 10px #b4b4b440;
          box-shadow: 0px 10px 30px 10px #b4b4b440;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 50px;
  background-color: white;
  position: absolute;
  right: 0;
  left: 0;
  top: -50px;
}

.container form {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* CLICK THRU */
.click-thru,
.container button[type="submit"] {
  height: 55px;
  width: 225px;
  margin: 0 10px;
  border-radius: 5px;
}

.click-thru {
  background-color: #f1f1f1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
}

.click-thru span {
  color: #3c3c3c;
  margin: auto;
}

.click-thru i {
  display: block;
}

.click-thru button {
  background-color: transparent;
  font-size: 2.5rem;
}

.click-thru button:hover, .click-thru button:focus {
  color: #3f3fc2;
}

.arrows {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container button[type="submit"] {
  background-color: #305DC0;
  font-size: 1.8rem;
  color: white;
  padding: 0 20px;
  border: none;
}

.container button[type="submit"]:focus, .container button[type="submit"]:hover {
  background-color: #406ccc;
}

.content {
  padding-top: 150px;
}

.filter-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  width: 120px;
  margin: 0 auto;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.toggle-menu {
  background-color: white;
}

.toggle-menu:hover i,
.toggle-menu:focus i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

ul {
  background-color: white;
  -webkit-box-shadow: 0px 10px 20px 3px  #b4b4b440;
          box-shadow: 0px 10px 20px 3px  #b4b4b440;
  width: 150px;
  top: 25px;
  position: absolute;
  z-index: 30;
}

ul label {
  padding: 10px;
  display: block;
}

ul i {
  font-size: 1.2rem;
}

.art-option + label i {
  color: #f5b56d;
}

.science-option + label i {
  color: #3b9982;
}

.history-option + label i {
  color: #7bcdd3;
}

.cultural-option + label i {
  color: #d37b8a;
}

.childrens-option + label i {
  color: #9ed37b;
}

ul li:hover,
ul li:focus,
input[type="radio"]:checked + label {
  background-color: #d7f2f3;
}

/* Results Section */
ol {
  padding-bottom: 150px;
}

/* hover effect on links */
.content a:not(:last-of-type):hover,
.content a:not(:last-of-type):focus {
  color: #305DC0;
}

.loading-message {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #686868;
}

.loading-message p:first-of-type {
  color: black;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.result-container {
  margin: 20px 0;
  padding: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  -webkit-box-shadow: 0px 0px 5px 5px #b4b4b436;
          box-shadow: 0px 0px 5px 5px #b4b4b436;
  border-radius: 5px;
}

.result-container i {
  font-size: 1.3rem;
  color: #305DC0;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 2 40%;
          flex: 1 2 40%;
}

.icon {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
}

.icon i {
  margin: auto;
  color: white;
  font-size: 1.8rem;
}

.address {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
}

.address a {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #305DC0;
}

.address a:hover, .address a:focus {
  border-bottom: 1px solid #305DC0;
}

.tel {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
}

.address,
.tel {
  color: #1b1b1b;
  padding: 0 10px;
}

.url {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 140px;
          flex: 1 0 140px;
  text-align: center;
  background-color: white;
  padding: 8px 10px;
  border: 1.5px solid #305DC0;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.url:focus, .url:hover {
  background-color: #305DC0;
  border: 1.5px solid #305DC0;
  color: white;
}

/* colour tab */
.art {
  background-color: #f5b56d;
}

.science {
  background-color: #3b9982;
}

.history {
  background-color: #7bcdd3;
}

.cultural {
  background-color: #d37b8a;
}

.childrens {
  background-color: #9ed37b;
}

/* scroll to the top button */
.scroll-up {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  border: 0.5px solid none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
  margin-left: 90vw;
}

footer {
  font-size: 1.4rem;
  height: 5vh;
  padding: 10px;
}

footer a {
  text-decoration: underline;
}

/* media queries */
@media (max-width: 960px) {
  .result-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .name {
    margin-bottom: 10px;
  }
  .address,
  .tel {
    padding: 0;
    margin-bottom: 5px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .url {
    margin-top: 5px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

@media (max-width: 768px) {
  .click-thru,
  button[type="submit"] {
    margin: 5px 10px;
  }
  .result-container p,
  h3,
  .tel {
    margin-bottom: 5px;
  }
  .filter-bar {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h1 span {
    font-size: 1.4rem;
  }
  header {
    height: auto;
  }
  .header-text {
    font-size: 2rem;
    padding: 50px 0 60px 0;
  }
  .header-text p:first-of-type {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .container {
    padding: 30px;
  }
  .content {
    padding-top: 200px;
  }
  .scroll-up {
    margin-left: 85vw;
  }
  .click-thru,
  button[type="submit"] {
    height: 50px;
  }
  button[type="submit"] {
    font-size: 1.6rem;
    margin: 5px 0;
  }
}
